[tool.black]
line-length = 120
exclude = '''
/(
    \.git
  | venv
  | \.venv
  | env
  | \.env
  | _build
  | build
  | dist
)/
'''

[tool.poetry]
name = "kof-parser"
version = "0.0.10"
description = "A KOF file parser. Follows Norkart's KOF 2.0 specification from 2005."
license = "MIT"
authors = ["Magnus Mariero <magnus@neate.no>", "Jostein Leira <jostein@leira.net>"]
maintainers = ["Jostein Leira <jostein@leira.net>", "Magnus Mariero <magnus@neate.no>"]
readme = "README.md"
homepage = "https://github.com/norwegian-geotechnical-institute/kof-parser"
repository = "https://github.com/norwegian-geotechnical-institute/kof-parser"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: GIS",
]
packages = [
    { include = "kof_parser", from="src" },
]


[tool.poetry.dependencies]
python = ">=3.9,<3.11"
pydantic = "^1.10.2"
coordinate-projector = "^0.0.5"
cchardet = "^2.1.7"

[tool.poetry.dev-dependencies]
black = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
bandit = "*"
safety = "*"
pip-licenses = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
